trigger:
  branches:
    include:
    - main
  paths:
    include: 
    - src/cartservice/*
pr:
  paths:
    include:
    - src/cartservice/*
  branches:
    include:
    - main
    - develop

pool: Linux

stages:
- stage: SonarQube
  displayName: "SonarQube"
  jobs:
  - job:
    variables:
      sonarQube: SonarQube
    steps:
    - checkout: self
      clean: true
    - script: git checkout -B master
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '5.0.100'
        includePreviewVersions: true
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '2.0.0'
        includePreviewVersions: true
    - task: SonarQubePrepare@4
      inputs:
        SonarQube: ${{ variables.sonarQube }}
        scannerMode: 'MSBuild'
        projectKey: 'cartservice'
        extraProperties: |
          sonar.pullrequest.key=$(System.PullRequest.PullRequestId)
          sonar.pullrequest.branch=$(System.PullRequest.SourceBranch)
          sonar.pullrequest.base=$(System.PullRequest.TargetBranch)
    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: 'src/cartservice/cartservice.csproj'
    - task: SonarQubeAnalyze@4
    - task: SonarQubePublish@4
      inputs:
        pollingTimeoutSec: '300'
- template: ../../.azure-pipelines/templates/cicd.tpl.yml
  parameters:
    appName: cartservice