trigger:
  branches:
    include:
    - main
  paths:
    include: 
    - src/cartservice/.azure-pipelines/cicd.yml

pool: Linux

stages:
- stage: SonarQube
  displayName: "SonarQube"
  jobs:
  - job:
    variables:
      sonarQube: SonarQube
    steps:
    - checkout: self
      clean: true
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '2.0.0'
    - task: SonarQubePrepare@4
      inputs:
        SonarQube: ${{ variables.sonarQube }}
        scannerMode: 'MSBuild'
        projectKey: 'cartservice'
        extraProperties: |
          sonar.projectBaseDir=src/cartservice
    - task: SonarQubeAnalyze@4
    - task: SonarQubePublish@4
      inputs:
        pollingTimeoutSec: '300'
- template: ../../.azure-pipelines/templates/cicd.tpl.yml
  parameters:
    appName: cartservice