trigger:
  branches:
    include:
    - main
#   paths:
#     include: 
#     - src/cartservice/*
# pr:
# - main
# - develop
#   paths:
#     include:
#     - src/cartservice/*
#   branches:
#     include:
#     - main
#     - develop
# pr:
#   branches:
#     include:
#     - '*' 
# trigger: none

pool: Linux

stages:
- stage: SonarQube
  displayName: "SonarQube"
  jobs:
  - job:
    variables:
      sonarQube: SonarQube
    steps:
    - checkout: self
      clean: true
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '5.0.100'
        includePreviewVersions: true
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '2.0.0'
        includePreviewVersions: true
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '3.1.100'
        includePreviewVersions: true
    - pwsh: | 
        echo '$(Build.SourceVersion)'
        $prs = curl -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/gaoyuyue/infrastructure/pulls?state=all | ConvertFrom-Json | Where-Object { $_.merge_commit_sha -eq '$(Build.SourceVersion)'}
        $isPr = $prs.Count -gt 0
        echo "##vso[task.setvariable variable=isPr]$isPr"
        if($isPr) {
          $pr = $prs[0]
          echo "##vso[task.setvariable variable=prId]$pr.id"
          echo "##vso[task.setvariable variable=prSourceBranch]$pr.head.ref"
          echo "##vso[task.setvariable variable=prTargetBranch]$pr.head.ref"
        }
    - task: SonarQubePrepare@4
      condition: and(succeeded(), eq(variables['isPr'], 'False'))
      inputs:
        SonarQube: ${{ variables.sonarQube }}
        scannerMode: 'MSBuild'
        projectKey: 'cartservice'
    - task: SonarQubePrepare@4
      condition: and(succeeded(), eq(variables['isPr'], 'True'))
      inputs:
        SonarQube: ${{ variables.sonarQube }}
        scannerMode: 'MSBuild'
        projectKey: 'cartservice'
        extraProperties: |
          sonar.pullrequest.key=$(prId)
          sonar.pullrequest.branch=$(prSourceBranch)
          sonar.pullrequest.base=$(prTargetBranch)
    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: 'src/cartservice/cartservice.csproj'
    - task: SonarQubeAnalyze@4
    - task: SonarQubePublish@4
      inputs:
        pollingTimeoutSec: '300'
- template: ../../.azure-pipelines/templates/cicd.tpl.yml
  parameters:
    appName: cartservice
