trigger:
  branches:
    include:
    - main
  paths:
    include: 
    - src/adservice/.azure-pipelines/cicd.yml

pool:
  vmImage: 'ubuntu-latest'

variables:
  containerRegistry: AzureCR
  azureSubscriptionEndpoint: AzureRM
  azureResourceGroup: k8s4rg
  kubernetesCluster: k8s4kc

stages:
- stage: Publish
  displayName: "Publish"
  jobs:
  - job:
    strategy:
      maxParallel: 1
    steps:
    - checkout: self
      clean: true
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: $(containerRegistry)
    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: adservice
        Dockerfile: src/adservice/Dockerfile
- stage: DeployToDev
  displayName: "Deploy to Dev"
  jobs:
  - deployment: 
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:   
          - task: Kubernetes@1
            displayName: Kubectl Apply
            inputs:
              connectionType: Azure Resource Manager
              azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
              azureResourceGroup: $(azureResourceGroup)
              kubernetesCluster: $(kubernetesCluster)
              command: apply
              arguments: -f kubernetes-manifests/adservice.yaml