name: "Setup AKS Infrastructure"

on:
  push: 
    branches:
      - main

jobs:
  terraform-plan:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
      - name: Decrypt large secret
        run: make decrypt
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Terraform Format
        id: fmt
        run: make tf_fmt
      - name: Terraform Init
        id: init
        run: export $(cat .github/environments/terraform.env) && make tf_init
      - name: Terraform Validate
        id: validate
        run: make tf_validate
      - name: Terraform Plan
        id: plan
        run: export $(cat .github/environments/terraform.env) && make tf_plan
  terraform-apply: 
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    needs: terraform-plan
    environment: 'dev'
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
      - run: make decrypt
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - run: export $(cat .github/environments/terraform.env) && make tf_init && make tf_apply
  terraform-destroy: 
    name: "Terraform Destroy"
    runs-on: ubuntu-latest
    needs: terraform-apply
    environment: 'dev'
    steps:
      - uses: actions/checkout@v2
      - uses: hashicorp/setup-terraform@v1
      - run: make decrypt
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - run: export $(cat .github/environments/terraform.env) && make tf_init && make tf_destroy